page-duplicate-finder {
  ion-spinner * {
    width: 100px;
    height: 100px;
  }
}

.centerSpinner {
  display: block;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50px, -50px);
}
