editor {
  ion-spinner * {
    width: 100px;
    height: 100px;
  }
}

.centerSpinner {
  display: block;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50px, -50px);
}

.alertCustomCss {
  // text color for basic alerts
  color: white;

  button {
    color: white !important; // button text color
    background-color: color($colors, secondary, base) !important;
  }
  .alert-button {
    width: 90%;
    display: inline-block;
  }
  .button-inner {
    justify-content: center !important;
  }
  .alert-button-group {
    display: flex;
    justify-content: center;
  }
  .alert-title {
    text-align: center;
  }

  .alert-wrapper {
    background-color: color($colors, dark, base); // bg color of alert content
    text-align: center;
  }
}

.alertCustomCss2 {
  // text color for basic alerts
  color: white;

  button:hover {
    color: white !important; // button text color
    background-color: color($colors, secondary, base) !important;
  }
  .alert-button {
    width: 90%;
    display: inline-block;
  }
  .button-inner {
    justify-content: center !important;
  }
  .alert-button-group {
    display: flex;
    justify-content: center;
  }
  .alert-title {
    text-align: center;
  }

  .alert-wrapper {
    background-color: color($colors, dark, base); // bg color of alert content
    text-align: center;
  }
}

ion-row {
  border-bottom: solid white 1px
}

.rowButton {
  width: 100%;
  height: 100%;
  background: black;
  transform: translateY(-5px);
}

.rowButton:hover {
  background: #1DB954 !important;
}
