<ion-header>
  <ion-navbar color="spotifyBlack">
    <ion-title style=" text-align: center">Playlist Editor</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="spotifyPage">
  <page-select-playlist (newPlaylistSelected)="loadTracks($event)">
  </page-select-playlist>

  <ng-container *ngIf="!this.finishedLoadingSongs && stage == 2">
    <ion-content class="spotifyPage">
      <ion-spinner class="centerSpinner" name="crescent"></ion-spinner>
    </ion-content>
  </ng-container>

  <ng-container *ngIf="finishedLoadingSongs">
    <ion-grid>
      <ion-row>
        <ion-col col-2>#</ion-col>
        <ion-col col-6>Name</ion-col>
        <ion-col col-2>Time</ion-col>
        <ion-col col-2></ion-col>
      </ion-row>
      <ion-row></ion-row>
      <ion-row justify-content-start style="color: #1DB954" *ngFor="let track of allTracks; index as i">
        <ion-col col-2>{{i}}</ion-col>
        <ion-col col-6>{{track?.track?.name}}</ion-col>
        <ion-col col-2>({{track?.track?.duration_ms | date:"m.ss"}})</ion-col>
        <ion-col col-2>
          <button class="rowButton" ion-button icon-only (click)="openOptions(track.track.id,i)">
            <ion-icon name="cog"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

</ion-content>
