<ion-header>
  <ion-navbar color="spotifyBlack">
    <ion-title style=" text-align: center">Welcome</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="spotifyPage">
  <div style="text-align: center; color: #1DB954;">
    <h2 style="margin-bottom: 20px">{{userData?.display_name}}</h2>
    <img class="tomImg" *ngIf="userData!=null && userData.images!=null && userData.images[0]!=null"
         src="{{userData.images[0].url}}"
         width=270 height=270>
    <ion-list style="margin-bottom: 20px;">
      <li>
        <ion-icon name="people"></ion-icon>
        {{userData?.followers?.total}}
      </li>
      <li *ngIf="userData!=null && userData.type == 'user'">
        Standard User
      </li>
      <li *ngIf="userData!=null && userData.type != 'user'">
        Premium User
      </li>
    </ion-list>
    <div margin-bottom="20px">
      <button (click)= "this.moveToSettingsPage()" style="width: 40%" ion-button color="spotifyGreen">
        <ion-icon name="settings" style="margin-right: 10px"></ion-icon>
        Settings
      </button>
    </div>
    <div>
      <button (click)="logout()" style="width: 40%" ion-button color="spotifyGreen">
        <ion-icon name="beer" style="margin-right: 10px"></ion-icon>
        Log out
      </button>
    </div>
  </div>

</ion-content>
