page-home {

}
h2{
  font-size: 48px;
}
.tomImg{
  border-radius: 50%;
  margin-bottom: 30px;
}
div{
  font-size: 20px;
}

.logout {
  // text color for basic alerts
  color: white;

  button {
    color: white !important; // button text color
    background-color: color($colors, secondary, base) !important;
  }
  .alert-button{
    width: 40%;
    display: inline-block;
  }
  .button-inner{
    justify-content: center!important;
  }
  .alert-button-group{
    display: flex;
    justify-content: center;
  }
  .alert-title{
    text-align: center;
  }

  .alert-wrapper {
    background-color: color($colors, dark, base); // bg color of alert content
    text-align: center;
  }
}
